<nav class="border-gray-200 bg-[#FF1C4D] h-30 flex items-center nav-shadow">
    <div class="max-w-screen-xl w-full flex items-center">
        <a href="" class="flex items-center w-full">
            <!-- Cuadrado rojo más grande con corte diagonal -->
            <div class="h-[120px] w-[700px] bg-gray-300 flex items-center justify-center clip-diagonal relative">
                <img src="/assets/images/uma/logo_uma2.png" class="w-[500px]" alt="Logo UMA" />
            </div>
        </a>
    </div>
</nav>