<div id="default-carousel" class="relative w-full carousel-container">
    <!-- Carousel wrapper -->
    <div #carousel class="relative h-56 overflow-hidden rounded-lg md:h-255">
        <div class="slide active">
            <img src="assets/images/adm_de_empresas.jpeg" class="image" alt="Administración de Empresas">
        </div>
        <div class="slide">
            <img src="assets/images/adm_y_mkt.jpeg" class="image" alt="Administración y Marketing">
        </div>
        <div class="slide">
            <img src="assets/images/ani.jpeg" class="image" alt="Animación Digital">
        </div>
        <div class="slide">
            <img src="assets/images/contabilidad_y_finanzas.jpeg" class="image" alt="Contabilidad y Finanzas">
        </div>
        <div class="slide">
            <img src="assets/images/derecho.jpeg" class="image" alt="Derecho">
        </div>
        <div class="slide">
            <img src="assets/images/enfermería.jpeg" class="image" alt="Enfermería">
        </div>
        <div class="slide">
            <img src="assets/images/farmacia_y_bioquímica.jpeg" class="image" alt="Farmacia y Bioquímica">
        </div>
        <div class="slide">
            <img src="assets/images/iia.jpeg" class="image" alt="Ingeniería Industrial y de Automatización">
        </div>
        <div class="slide">
            <img src="assets/images/ing_de_sistemas.jpeg" class="image" alt="Ingeniería de Sistemas">
        </div>
        <div class="slide">
            <img src="assets/images/msp.jpeg" class="image" alt="Medicina y Salud Pública">
        </div>
        <div class="slide">
            <img src="assets/images/nutricion_y_dietetica.jpeg" class="image" alt="Nutrición y Dietética">
        </div>
        <div class="slide">
            <img src="assets/images/psicología.jpeg" class="image" alt="Psicología">
        </div>
    </div>
</div>
