<div id="default-carousel" class="relative w-full carousel-container">
    <!-- Carousel wrapper -->
    <div #carousel class="relative h-56 overflow-hidden rounded-lg md:h-255">
        <div class="slide">
            <img src="assets/images/adm_de_empresas.jpeg" class="image" alt="Adm de Empresas">
        </div>
        <div class="slide">
            <img src="assets/images/adm_y_mkt.jpeg" class="image" alt="Adm y MKT">
        </div>
        <div class="slide">
            <img src="assets/images/ani.jpeg" class="image" alt="ANI">
        </div>
        <div class="slide">
            <img src="assets/images/contabilidad_y_finanzas.jpeg" class="image" alt="Contabilidad y Finanzas">
        </div>
        <div class="slide">
            <img src="assets/images/derecho.jpeg" class="image" alt="Derecho">
        </div>
    </div>
</div>
